<div class="box">
        <h4>Lists Products</h4>
        <table class="table">
                <thead>
                    <tr>
                        <th scope="col">productId</th>
                        <th scope="col">productName</th>
                        <th scope="col">introductionDate</th>
                        <th scope="col">price</th>
                        <th scope="col">url</th>
                        <th scope="col">categoryId</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td scope="row">{{product.productId}}</td>
                        <td>{{product.productName}}</td>
                        <td>{{product.introductionDate}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.url}}</td>
                        <td>{{product.categoryId}}</td>
                        <td>
                            <button (click)="deleteProduct(product.productId)" class="btn btn-danger">
                                Delete
                            </button>
                        </td>
                        <td>
                            <a [routerLink]="[ '/product', product.productId ]">Editar</a>
                        </td>
                    </tr>    
                </tbody>
        </table>
    </div>
