/* You can add global styles to this file, and also import other style files */
.box-login {
    padding: 20px;
    display: block;
    margin: auto;
    width: 400px;
    border: solid #f8f9fa;
}

.box {
    padding: 20px;
    display: block;
    width: 100%;
    border: solid #f8f9fa;
}
