<ul class="nav" *ngIf="securityObject && securityObject.isAuthenticated">
  <li class="nav-item">
      <a class="nav-link active" [routerLink]="['/categories']">Categories</a>
  </li>
  <li class="nav-item">
      <a class="nav-link active" *hasClaim="'canAccessProducts'" [routerLink]="['/products']">Productos</a>
  </li>
  <li class="nav-item">
      <a class="nav-link active" *hasClaim="'canAccessProducts'" [routerLink]="['/product', -1]">New Product</a>
  </li>
  <li class="nav-item">
      <a href="#" class="nav-link active">Logout</a>
  </li>
</ul>
<router-outlet></router-outlet>
