     
<div class="box">
    <h4>Lists Categories</h4>
    <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories">
                    <th scope="row">{{category.categoryId}}</th>
                    <th>{{category.categoryName}}</th>
                </tr>        
            </tbody>
    </table>
</div>
