<div class="box-login">
    <form>
        <div class="from-group">
            <label>User</label>
            <input type="text" class="form-control" placeholder="User" required [(ngModel)]="user.userName" name="userName" >
        </div>
        <div class="from-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="password" required [(ngModel)]="user.password" name="password">
        </div>
        <br/>
        <button class="btn btn-primary" (click)="login()" >Ingresar</button>
    </form>
</div>
<div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}
</div>
